:root {
  --backgroundColor: white;
  --backgroundColorLight: white;
  --backgroundColorDark: #000000;

  --colorFont: black;
  --colorFontLight: black;
  --colorFontDark: aliceblue;

  --boxshadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  --boxshadowLight: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
  --boxshadowDark: 0 10px 20px 0 #383838, 0 12px 26px 0 #383838;

  --backgroundBoxcardColor: #f7f7f799;
  --backgroundBoxcardColorLight: #f7f7f799;
  --backgroundBoxcardColorDark: #000000;

}


/*  DESKTOP  */
.box {
  padding: 10px;
  border: 1px solid #B0B0B0CC;
  color: var(--colorFont);
}
.box:hover {
  box-shadow: var(--boxshadow);
  transform: translateY(3px);
}

.box input, .box select, .box option, .box input::placeholder, .box input:focus, .box select:focus {
  color: var(--colorFont);
  background-color: var(--backgroundColor);
}
input[type="datetime-local"] {
  cursor: pointer;
  position: relative;
  text-align: right;
  padding-right: 50px; 
   
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator  {
  cursor: pointer;
  position: absolute;
  left: 5px;
  height:90%;
  width:auto;
  content: url(calendar-icon.png);
 }

.login-register {
  border-radius: 5px;
  padding: 20px 40px;
  color: var(--colorFont);
  background-color: var(--backgroundBoxcardColor);
}
.login-register img {
  width:60%;
  margin-left:20%;
  border-radius: 50%;
  border: 1px solid gray;
}

.home-picture {
  background: url(pictureBody.png) no-repeat center center fixed;
  background-size: auto;
  width:1400px;
  height: 700px; 
  color: var(--colorFont);
}
.home-picture p {
  font-size: 1.5vw;
}

.createupdateP {
  font-size: 1.5vw;
}
.messageP {
	font-size:0.9vw;
	color: red;
	background-color: aliceblue;
}

.jumbotron {
  color: var(--colorFont);
  background-color: var(--backgroundBoxcardColor);
}

/*  MOBIL  */

@media screen and (max-width: 767px) {
  .home-picture{
    background: url(pictureBodyMob.png) no-repeat center center fixed;
    background-size: auto;
    width:99%;
    height: 650px; 
  }
  .home-picture p {
    font-size: 4.5vw;
  }
  .createupdateP {
    font-size: 4.5vw;
  }
  .messageP {
		font-size:4.2vw;
	}
}
